#    Copyright (C) 2022 7thCore
#    This file is part of AuSrv-Script.
#
#    AuSrv-Script is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    AuSrv-Script is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Unit]
Description=AuSrv Server Service
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=300
StartLimitAction=none
OnFailure=ausrv-send-notification@%i.service

[Service]
Type=forking
KillMode=none
WorkingDirectory=/srv/ausrv/server-%i
ExecStartPre=/usr/bin/ausrv-script pre-start %i
ExecStartPre=/usr/bin/ausrv-script server_tmux_install %i
ExecStart=/usr/bin/tmux -f /tmp/%u-%i-tmux.conf -L %u-%i-tmux.sock new-session -d -s AuSrv '/usr/bin/impostor-server'
ExecStartPost=/usr/bin/ausrv-script post-start %i
ExecStop=/usr/bin/ausrv-script pre-stop %i
ExecStop=/usr/bin/tmux -L %u-%i-tmux.sock send-keys -t AuSrv.0 C-c
ExecStopPost=/usr/bin/ausrv-script post-stop %i
TimeoutStartSec=infinity
TimeoutStopSec=120
RestartSec=10
Restart=on-failure

[Install]
WantedBy=default.target
